*
!.gitignore
!.circleci/
!*.md
!*/

# FMUs
!fmus/*/*/*/*/*/*/*.fmu
!fmus/*/*/*/*/*/*/*_in.csv
!fmus/*/*/*/*/*/*/*_ref.csv
!fmus/*/*/*/*/*/*/*_ref.opt
!fmus/*/*/*/*/*/*/README.md
!fmus/*/*/*/*/*/*/README.txt
!fmus/*/*/*/*/*/*/notCompliantWithLatestRules

# results
!results/*/*/*/*/*/*/*/*/*_out.csv
!results/*/*/*/*/*/*/*/*/README.txt
!results/*/*/*/*/*/*/*/*/README.md
!results/*/*/*/*/*/*/*/*/passed
!results/*/*/*/*/*/*/*/*/rejected
!results/*/*/*/*/*/*/*/*/failed
!results/*/*/*/*/*/*/*/*/notCompliantWithLatestRules
