*
!.gitignore
!.circleci/
!README.md
!*/

# FMUs
!fmus/*/*/*/*/*/*/*/*/*.fmu
!fmus/*/*/*/*/*/*/*/*/*_in.csv
!fmus/*/*/*/*/*/*/*/*/*_ref.csv
!fmus/*/*/*/*/*/*/*/*/*_ref.opt
!fmus/*/*/*/*/*/*/*/*/README.md
!fmus/*/*/*/*/*/*/*/*/README.txt

# results
!results/*/*/*/*/*/*/*/*/*_out.csv
!results/*/*/*/*/*/*/*/*/README.txt
!results/*/*/*/*/*/*/*/*/README.md
!results/*/*/*/*/*/*/*/*/passed
!results/*/*/*/*/*/*/*/*/rejected
!results/*/*/*/*/*/*/*/*/failed
